[user]
	email = stuartkearns@gmail.com
	name = stuartkearns
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
